<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>考试管理系统</title>
    <!-- reset-->
    <link rel="stylesheet" href="${path}/plug/bootstrap-3.3.5/css/bootstrap.min.css" />   
    <link rel="stylesheet" href="${path}/skins/template/css/common.css" />   
    <link rel="stylesheet" href="${path}/skins/template/css/index.css">
    <!--[if IE]>
    <script type="text/javascript" src="${path}/plug/PIE.js"></script>
    <![endif]-->
    <script type="text/javascript" src="${path}/plug/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="${path}/plug/layer/layer.js"></script>
    <script type="text/javascript" src="${path}/plug/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <!--滚动条美化-->
    <script type="text/javascript" src="${path}/plug/jquery/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="${path}/plug/jquery/jquery.slimscroll.min.js"></script>
    <!--tab选项卡-->
    <script type="text/javascript" src="${path}/plug/contabs.min-one.js"></script>
    <!--jquery ui js/css-->
    <script type="text/javascript" src="${path}/plug/jqueryui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="${path}/plug/jqueryui/css/jquery-ui.css" />  
   	<script type="text/javascript" src="${path}/javascript/layerUtils.js"></script> 
    <!--入口页面js-->
    <script src="${path}/javascript/index.js"></script>
</head>
<style>
    /*搜索自动提示自定义*/
    .ui-autocomplete{
        left: 0!important;
        border: none!important;
        text-align: left;
        width: 180px!important;
        background: #484b55;
        top: 79px!important;
        font-family: "Microsoft YaHei","微软雅黑", "宋体", Arial,Verdana, sans-serif;  
        overflow: auto;
        
    }
    .ui-autocomplete .ui-menu-item,.ui-autocomplete .ui-state-focus{
        border:none!important;
        margin:0;
    }
    .ui-autocomplete a{
        color:#fff;
        height: 40px;
        line-height: 40px;
        display: block;
        padding-left: 40px;
        font-size: 14px;
    }
    .ui-autocomplete .ui-state-hover a,
    .ui-autocomplete .ui-state-focus a{
        background-color:#377cb4!important;
        color:#fff!important;
    }

</style>
<body>
    <div class="g-header">
        <div class="main g-clear">
            <img src="${path}/skins/template/img/header/logo.png" class="g-fl J_imgWarp"/>
            <div class="g-fr">
            <a class="" href="${path}/page/downloadkj">保存桌面快捷方式</a>
            <span class="no-admin" id="showtime"></span>
            	<span class="no-admin">您的角色是：$!{rolename}！</span>
                <a class="moremenu J_moreMenu" href="javascript:;"><i class="gi2 gi-36"></i></a><!--<em>3</em>-->
                <a class="admin J_adminAction" href="javascript:;"><img src="${path}/skins/template/img/header/admin.png"/>$!{username}</a>
                <!--<a class="history J_history" href="javascript:;"><i class="gi-his"></i></a>-->
                <span class="J_menuWarp">
                	<a  class="item J_menuItem" href="${path}/page/main"><i class="gi2 gi-71"></i>首页</a>
                    <!--<a  class="item" href="javascript:;"><i class="gi2 gi-35"></i>系统服务</a>-->
                    <a  class="item" href="javascript:;" onclick="logout()"><i class="gi2 gi-72"></i>退出</a>
                </span>
            </div>
       </div>
       <p class="g-menu-box">
       </p>
        <p class='g-action-box'>
            <!--<a class="user" href="javascript:;"><i class="gi2 gi-37"></i>个人中心</a>
            <a class="pwd"  href="javascript:;"><i class="gi2 gi-38"></i>待办任务</a>
            <a class="pwd"  href="javascript:;"><i class="gi2 gi-39"></i>消息提醒</a>-->
            <a class="pwd"  href="javascript:;" onclick="changePwd()"><i class="gi2 gi-40"></i>修改密码</a>
            <!--<a class="clear" href="javascript:;"><i class="gi2 gi-41"></i>清除缓存</a>
            <a class="exit" href="javascript:;"><i class="gi2 gi-42"></i>退出</a>-->
        </p>
    </div>
    <div class="g-nav g-main-nav">
        <div class="search-box">
            <i class="gi0 gi-21"></i>
            <input type="text" class="search form-control J_placeholder J_inputNav" placeholder="搜索" >
            <i class="gi0 gi-22 J_menuToggleBt"></i>
        </div>
      	<div class="g-search-nav g-hide">
            <span class="no-nav">无匹配菜单</span>
       	</div> 
        <ul class="nav-first-level J_navBar reset-box-sizing">
			#foreach($list in $menutree.children)
				<li>
	      			<a href="javascript:;" data-placement="right" title="$list.name" class="J_tip">
	          			<i class="$list.icon"></i><span class="nav-label">$list.name</span>
	    			</a>
	    			#if ($list.children.size() > 0)
		    			<ul class="nav-second-level">
			        		#foreach ($menu in $list.children)
			          			<li>
			          				<a menuid="${menu.id}" #if ($!menu.children.size()) href="javascript:;" #else class="J_menuItem" href="${path}/$menu.href" #end >${menu.name}#if ($!menu.children.size())<i class="gi0 gi-23"></i>#end</a>
			          				#if ($!menu.children.size())
			          				<ul class="nav-third-level">
				          				#foreach ($pmenu in $menu.children)
				          				<li><a class="J_menuItem" menuid="${pmenu.id}" href="${path}/$pmenu.href" > <i class="gi0 gi-25"></i>${pmenu.name}</a></li>
				          				#end
				          			</ul>
			          				#end
			          			</li>
			        		#end
		      			</ul>
	    			#end
				</li>
			#end
        </ul>
    </div>
    <div class="g-main-container">
        <!--start 主要内容 -->
        <div class="g-content-tabs">
          <a class="roll-nav roll-left  gi0 gi-19 J_tabLeft">
          </a>
            <div class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                      <a href="javascript:;" class="J_menuTab active" data-id="${path}/page/main" style="padding:0 17px">首页</a>
               </div>
            </div>
         <a class="roll-nav roll-right gi0 gi-18 J_tabRight">
         </a>
        <div class="btn-group roll-nav roll-close">
            <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <li class="J_tabShowActive"><a>定位当前选项卡</a>
                </li>
                <li class="divider"></li>
                <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                </li>
                <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                </li>
            </ul>
        </div>
        <ul role="menu" class="dropdown-menu J_tabMenu">
                <li class="J_tabShowActive"><a>定位当前选项卡</a>
                </li>
                <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                </li>
                <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                </li>
        </ul>
        </div>
        <div class="J_mainContent">
            <iframe class="J_iframe" menuid="0" name="iframe0" width="100%" height="100%" src="${path}/page/main" frameborder="no" border="0" scrolling="no" allowtransparency="true" data-id="${path}/page/main"></iframe>
        </div>
        <!--end 主要内容 -->
    </div>
</body>
</html>

<script  type="text/javascript">
function showTime(){ 
	var show_day=new Array('星期日','星期一','星期二','星期三','星期四','星期五','星期六'); 
	var time=new Date(); 
	var year=time.getFullYear(); 
	var month=time.getMonth(); 
	var date=time.getDate(); 
	var day=time.getDay(); 
	var hour=time.getHours(); 
	var minutes=time.getMinutes(); 
	var second=time.getSeconds(); 
	month=month+1;
	month<10?month='0'+month:month; 
	hour<10?hour='0'+hour:hour; 
	minutes<10?minutes='0'+minutes:minutes; 
	second<10?second='0'+second:second; 
	var now_time='当前时间：'+year+'年'+month+'月'+date+'日'+' '+show_day[day]+' '+hour+':'+minutes+':'+second; 
	document.getElementById('showtime').innerHTML=now_time; 
	setTimeout("showTime();",1000); 
}
function logout(){
	layer.confirm('您确认要退出系统吗?', {
		btn: ['确认','取消']
	}, function(){
		window.location.href='${path}/page/logout';
	}, function(){
	});
}
  $(function () {
  	showTime();
	var projects = [];
	var obj = $(".J_menuItem");
	obj.each(function(){
		var objs = {
	    	link: $(this)[0].href,
	    	value: $(this)[0].innerText
	    };
	    projects.push(objs);
	});
	
	$( ".J_inputNav" ).autocomplete({
 		minLength: 0,
 		source: projects,
 		response: function( event, ui ) {
           if(ui.content.length==0){
                $(".g-search-nav").show();
           }else{
                $(".g-search-nav").hide();
           }
        }
	}).autocomplete( "instance" )._renderItem = function( ul, item ) {
		return $("<li>").append("<a class='J_menuItem' href='"+item.link+"'>" + item.value+ "</a>").appendTo(ul);
	};
    //$(".ui-autocomplete").niceScroll({});
  });
  
	//修改密码
	function changePwd(){
		var onSuccess = function (iframe,callback) {
			iframe.updatePwd(function (success) {
		    	callback(success);
		    });
		};
		openWin('../emp/changePwd','修改密码',550,400,'',onSuccess);
	}
    
</script>