#parse("page_header.vm")
<style>
    html,body{
        overflow-y: hidden;
        height: 100%;
    }
</style>

<div class="container-fluid">
    <div class="row" >
    	<div class="col-xs-12">
            <div class="J_conWarp g-warning-box">
            	<h4 class="g-title">公告管理<span class="intro J_arrowAction" style="cursor:pointer;">功能介绍<i class="gi-down"></i></span></h4>
            	<p class="bg-warning J_tipBox g-t-mg">功能介绍：公告通知发布，会在首页展示。</p>
            	<div class="g-total-pd" style="padding-top:0;" id="jqGridWarp">
            		<div class="row">
                		<div class="col-xs-12">
					  		<div class="col-container clearfix">
					  			<div class="button-inline g-fl">
							  		<a class="gbn gbn-add" id="btn_add" href="javascript:;" onclick="add_obj();" right-attr='news/save'><i></i>新增</a>
			                        <a class="gbn gbn-edit" id="btn_modify" href="javascript:;" onclick="edit_obj();" right-attr='news/update'><i></i>编辑</a>
			                        <a class="gbn gbn-del" id="btn_del" href="javascript:;" onclick="delete_obj();" right-attr='news/delete'><i></i>删除</a>
							    </div>
					  			<form class="form-inline g-fr" role="form" id="form1" onsubmit="return false;">
					  				<input type="hidden" name="typeid" value="0"/>
			                        <span class="group">
			                            <label>公告标题:</label>
			                            <input type="text" class="form-control" id="title" name="title">
			                        </span>
			                        <span class="group">
			                            <label>公告类型:</label>
			                            <select class="form-control" name="dicttype" id="dicttype">
											<option value="">请选择...</option>
											#foreach ($list in $typelist)
											<option value="$list.id">$list.name</option>
											#end
										</select>
			                        </span>
			                        <span class="group">
			                        	<label>发布时间:</label>
									 	<div class="input-group input-daterange">
			                                <input type="text" class="form-control Wdate g-Wate-left" placeholder="开始时间" readonly="readonly"
			                                	id="publishtimesta" name="publishtimesta" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});">
			                                <span class="input-group-addon">到</span>
			                                <input type="text" class="form-control Wdate g-Wate-left" placeholder="结束时间" readonly="readonly" 
			                        			id="publishtimeend" name="publishtimeend" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});">
			                            </div>
			                        </span>
			                        <span class="group">
			                        	<a class="gbn gbn-search" id="btn_query" href="javascript:;" onclick="query();"><i></i>查询</a>
			                        	<a class="gbn gbn-gray" id="btn_reset" href="javascript:;" onclick="query(1);"><i></i>重置</a>
			                        </span>
			                    </form>
	                    	</div>
	                    </div>
                    </div><!-- 查询表单域 -->
                    
               		<div class="row" >
						<div class="col-xs-12">
					  		<div>
					  			<table id="jqGridId"></table><div id="jqGridPagerId"></div>
					  		</div>
						</div>
					</div><!-- 列表区域 -->
            	</div>
            </div>
         </div>
	</div>
</div>
<script type="text/javascript" src="${path}/javascript/system/news.js?date=201701220002"></script>