<div class="footer">
	<div class="footer-top">
		<div class="wrapper">

			<div class="yl">
				<p class="head"><a target="_blank" rel="nofollow" href="javascript:;">关于我们</a></p>
				
			</div>

			<div class="logo-slogan">
				<div class="qr-code">
					<a href="javascript:;" title="省着来app下载">
						<img src="" alt="省着来APP">
					</a>
				</div>
				<div class="txt">
					<div class="logo"><img src="" alt="省着来APP"></div>
					<p class="s1">我们都是，时尚的人</p>
					<p class="s2">下载购物省钱神器</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bootom">
		<div class="wrapper">
			<p>地址：郑州市中原路嵩山路 · 联系电话：*********** · 豫ICP备14040010号-11 · 省着来 - 花钱我们得省着来，购物我们尽管来。</p>
		</div>
	</div>
</div>