#parse("page_header.vm")
<script type="text/javascript" charset="utf-8" src="${path}/javascript/imageRead.js"></script>
<style>
    html,body{
    	overflow:auto;
        height: 100%;
        background-color:#fff;
    }
</style>
<div class="J_conWarp g-lr-mg g-warning-box">
	<div class="J_containerWarp">
		<div  class="container-fluid g-t-mg2">
			<div class="row" >
				<div class="col-xs-12" >
					<form class="form-horizontal" role="form" id="formid" method="post">
						<input type="hidden" name="id" id="id" value="$!{role.id}"/>
						<div class="form-group">
							<label for="name" class="col-xs-2 control-label"><em class="text-red">*</em>名称：</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" id="name" name="name" value="$!{role.name}" maxlength="10">
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-xs-2 control-label"><em class="text-red">*</em>角色类型：</label>
							<div class="col-xs-9">
								#dictselecttag('roletype','dic_orletype',$!{role.roletype})
								<p class="help-block">管理角色拥有所有数据权限,业务角色只能查看所拥有的数据.</p>
							</div>
						</div>
						<div class="form-group">
							<label for="status" class="col-xs-2 control-label"><em class="text-red">*</em>状态：</label>
							<div class="col-xs-9">
								#dictselecttag('status','dic_status',$!{role.status})
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	<div>
</div>
<script>

	function saveOrUpdate(callback){
		var url = $("#id").val()==''?'../role/save':'../role/update';
		$.post(url, $("#formid").serialize(), function(json){
			if(json&&json.success==true){
				callback(true);
			}else{
				Log.e(json.message);
				callback(false);
			}
		},'json');
	}
</script>