#parse("manager/page_header.vm")
<style>
    html,body{
        overflow-y: hidden;
        height: 100%;
        background-color:#fff;
    }
</style>
<div class="J_conWarp g-lr-mg g-warning-box">
	<div class="J_containerWarp">
		<div  class="container-fluid g-t-mg2">
			<div class="row" >
				<div class="col-xs-12" >
					<form class="form-horizontal" role="form" id="formid">
						<input type="hidden" name="id" value="$!{advPosition.id}"/>
						<div class="form-group">
							<label for="apName" class="col-xs-2 control-label"><em class="text-red">*</em>名称：</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" id="apName" name="apName" value="$!{advPosition.apName}" maxlength="10">
							</div>
						</div>
						<div class="form-group">
							<label for="apClass" class="col-xs-2 control-label"><em class="text-red">*</em>类别：</label>
							<div class="col-xs-9">
								#dictselecttag('apClass','dic_adv_position_class',$!{advPosition.apClass})
							</div>
						</div>
						<div class="form-group">
							<label for="apDisplay" class="col-xs-2 control-label"><em class="text-red">*</em>展示方式：</label>
							<div class="col-xs-9">
								#dictselecttag('apDisplay','dic_adv_position_display',$!{advPosition.apDisplay})
							</div>
						</div>
						<div class="form-group">
							<label for="isShow" class="col-xs-2 control-label">是否启用：</label>
							<div class="col-xs-9">
								<div class="J_radioBox ">
									<label class="radio-inline">
									  <input type="radio" name="isShow" value="1"> 是
									</label>
									<label class="radio-inline">
									  <input type="radio" name="isShow" value="2"> 否
									</label>
							    </div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	<div>
</div>
<script>
	 $(":radio").click(function(){
	 	$(".radio-inline").removeClass("on");
	 	if($(this).is(':checked')){
	 		$(this).closest("label").addClass("on");
	 	}
	});
</script>