#parse("manager/page_header.vm")
#parse("manager/tag/add_edit_inner.vm")
<script>

$(function () {
	$("#typeid").val(${typeid}==0?'':${typeid});
	$("input[name='ishot']").eq(0).parent(".radio-inline").addClass('on');
	$("input[name='ishot']").eq(0).attr("checked",true);
});
function save(callback){
	$.post('../tag/save', $("#formid").serialize(), function(json){
		if(json&&json.success==true){
			callback(true);
		}else{
			Log.e(json.message);
			callback(false);
		}
	},'json');
}
</script>