<!DOCTYPE html>
<html>	
<head>
<title>keeps</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> 
addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<meta name="keywords" content="keeps, keep, 小马啊" />
<link href="${path}/skins/template/css/login.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="${path}/plug/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${path}/javascript/login.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
<!--SIGN UP-->
<h1>klasikal Login Form</h1>
<div class="login-form">
	<!--<div class="close"></div>
	<div class="head-info">
		<label class="lbl-1"> </label>
		<label class="lbl-2"> </label>
		<label class="lbl-3"> </label>
	</div>-->
	<div class="clear"></div>
	<div class="avtar">
		<img src="${path}/skins/template/images/avtar.png" />
	</div>
	<form role="form" action="login" method="post" id="form-login">
		<input type="hidden" name="service" value="$!{service}" />
		<input type="hidden" name="lt" value="$!{lt}" />
		<input type="text" class="text" name="loginid" value="$!{loginid}" placeholder="用户名" autocomplete="off">
		<div class="key">
			<input type="password" name="pwd" value="" placeholder="密码" autocomplete="off">
		</div>
		<span style="color:red">$!{errormsg}</span>
		<div class="signin">
			<input type="submit" value="Login" >
		</div>
	</form>
</div>
<div class="copy-rights">
	<p>Copyright &copy; 2017.keeps</a></p>
</div>

</body>
</html>