<footer class="footer">
  <div class="footer-inner">
    <div style="padding:0 20px;overflow:hidden;">
      <div class="copyright pull-left">
	  	<a href="http://blog.yzmcms.com/qianduan/">前端</a> | <a href="http://blog.yzmcms.com/chengxu/">程序</a> | <a href="http://blog.yzmcms.com/shenghuo/">生活</a> | <a href="http://blog.yzmcms.com/yule/">娱乐</a> | <a href="http://blog.yzmcms.com/guanyu/">关于</a> |             <a href='http://blog.yzmcms.com/plus/guestbook.php'>留言联系</a>
        <a href="http://blog.yzmcms.com/" target="_blank">Copyright © 2017, keeps All Rights Reserved. </a>| </div>
      <div class="trackcode pull-right"></div>
    </div>
  </div>
</footer>