#set($layout="layout/default-manager.vm")
<div class="wrapper zk-detail">
	<div class="wrapper-l zk-main">
		<p class="bread-area">
			您的位置：<a href="${path}/page/index">省着来</a>
			&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="${path}/goods/list/${pclassid}">${pclassname}</a>
			&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="${path}/goods/list/${classid}">${classname}</a>
			&nbsp;&nbsp;&gt;&nbsp;&nbsp;$goods.goodsname
		</p>
		<div class="zk-content">
			<div class="img-area"><img src="$goods.goodsimageurl" alt="$goods.goodsname"></div>
			<div class="info-area">
				<h1 class="title elli"><span>包邮</span>$goods.goodsname</h1>
				<p class="endtime" id="eventTimeStr"></p>
				<div class="platform"><i style="background-image: url(${path}/skins/template/img/#if($goods.goodssource==1)platform_taobao.png#elseif($goods.goodssource==2)platform_tmall.png#end);"></i>#dictk2vtag('dic_goods_source',${goods.goodssource})</div>
				<div class="stat">
					<p class="price-area">
						<span class="ori-price">现价：&yen;$goods.currentprice</span>
						<span class="price">&yen;<em class="int">$NumericTool.getTheDecimalBefore($goods.couponafterprice)</em><em class="decimal">.$NumericTool.getTheDecimalAfter($goods.couponafterprice)</em><i>券后价</i></span>
					</p>
					<div class="buy-area">
						<p class="desc">有效期内领券下单，享受立减优惠！</p>
						<a data-ga-event="折扣详情页:点击:领券按钮" href="$goods.tocouponsurl" class="buy-btn">
							<div class="line line-l"><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
							<div class="line line-r"><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
							领券立减<em>$NumericTool.subZeroAndDot($goods.couponprice)</em>元
						</a>
					</div>
				</div>
				<div class="tags">
					<div class="tag-list">
						<!--<a data-ga-event="折扣详情页:点击:标签" class="tag-item" href="/g/yundongxie/">运动鞋</a>
						<a data-ga-event="折扣详情页:点击:标签" class="tag-item" href="/g/yundongxie/">运动鞋</a>
						<a data-ga-event="折扣详情页:点击:标签" class="tag-item" href="/g/xiezi/">鞋子</a>-->
					</div>
					<p class="coll"><i></i>按<em>Ctrl&nbsp;+&nbsp;D</em>加入收藏</p>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-r">
		<div class="rel-zk-area" style="margin-top: 60px;">
			<p class="head"><span>#if($!ishistory)为您推荐#else最近浏览#end</span><a href="${path}/goods/history" class="more-his">查看更多</a></p>
			<div class="hot-zk-list clearfix swiper-container">
				<div class="swiper-wrapper">
					#foreach ($list in $historyList)
						#if($velocityCount % 4 == 1)
							<div class="swiper-slide">
						#end
						<a class="zk-img-item" title="$!list.goodsname" href="${path}/goods/info/$list.id">
							<img class="lazy" data-original="${viewgoodspath}/$list.goodsimage" alt="$!list.goodsname">
						</a>
						#if($velocityCount % 4 == 0 || $!{historyList.size()}==$velocityCount)
							</div>
						#end
					#end
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="rel-zk-area" style="margin-bottom: 30px;">
		<p class="head"><span>猜你喜欢</span></p>
		<div class="rel-zk-list clearfix">
			#foreach ($list in $guessLikelist)
				#parse("page/layout_goods_item.vm")
			#end
		</div>
	</div>
</div>
<script type="text/javascript" src="${path}/plug/jquery/swiper3.1.0.min.js"></script>
<script type="text/javascript">
	Util.zkItemTimeCount();
	var sw = new Swiper('.swiper-container',{
        autoplay: 3000,
        loop:false
    });
</script>
