#set($layout="layout/default-manager.vm")
<div class="wrapper zk-detail">
	<div class="wrapper-l zk-main">
		<p class="bread-area">
			您的位置：<a href="${path}/page/index">省着来</a>
			&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="${path}/goods/list/${pclassid}">${pclassname}</a>
			&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="${path}/goods/list/${classid}">${classname}</a>
			&nbsp;&nbsp;&gt;&nbsp;&nbsp;$goods.goodsname
		</p>
		<div class="zk-content">
			<div class="img-area"><img src="${viewgoodspath}/$goods.goodsimage" alt="$goods.classname"></div>
			<div class="info-area">
				<h1 class="title elli"><span>包邮</span>$goods.goodsname</h1>
				<p class="endtime" id="eventTimeStr"></p>
				<div class="platform"><i style="background-image: url(${path}/skins/template/img/#if($goods.goodssource==1)platform_taobao.png#elseif($goods.goodssource==2)platform_tmall.png#end);"></i>#dictk2vtag('dic_goods_source',${goods.goodssource})</div>
				<div class="stat">
					<p class="price-area">
						<span class="ori-price">现价：&yen;819.0</span>
						<span class="price">&yen;<em class="int">$NumericTool.format("#0",$goods.couponafterprice)</em><em class="decimal">.$NumericTool.getTheDecimal($goods.couponafterprice)</em><i>券后价</i></span>
					</p>
					<div class="buy-area">
						<p class="desc">有效期内领券下单，享受立减优惠！</p>
						<a data-ga-event="折扣详情页:点击:领券按钮" href="$goods.tocouponsurl" class="buy-btn">
							<div class="line line-l"><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
							<div class="line line-r"><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
							领券立减<em>$NumericTool.subZeroAndDot($goods.couponprice)</em>元
						</a>
					</div>
				</div>
				<div class="tags">
					<div class="tag-list">
						<a data-ga-event="折扣详情页:点击:标签" class="tag-item" href="/g/yundongxie/">运动鞋</a>
						<a data-ga-event="折扣详情页:点击:标签" class="tag-item" href="/g/yundongxie/">运动鞋</a>
						<a data-ga-event="折扣详情页:点击:标签" class="tag-item" href="/g/xiezi/">鞋子</a>
					</div>
					<p class="coll"><i></i>按<em>Ctrl&nbsp;+&nbsp;D</em>加入收藏</p>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-r">
		<div class="rel-zk-area" style="margin-top: 60px;">
			<p class="head"><span>最近浏览</span><a data-ga-event="折扣详情页:点击:最近浏览_查看更多" href="${path}/goods/history" class="more-his">查看更多</a></p>
			<div class="hot-zk-list clearfix swiper-container">
				<div class="swiper-wrapper">
					#foreach ($list in $historyList)
						#if($velocityCount % 4 == 1)
							<div class="swiper-slide">
						#end
						<a data-ga-event="折扣详情页:点击:最近浏览_卡片" class="zk-img-item" title="$list.classname" href="${path}/goods/info/$list.id">
							<img class="lazy" data-original="${viewgoodspath}/$list.goodsimage" alt="$list.classname">
						</a>
						#if($velocityCount % 4 == 0 || $!{historyList.size()}==$velocityCount)
							</div>
						#end
					#end
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="wrapper">
	
	<div class="rel-zk-area" style="margin-bottom: 30px;">
		<p class="head"><span>猜你喜欢</span></p>
		<div class="rel-zk-list clearfix">
			#foreach ($list in $guessLikelist)
				<div class="zk-item">
					<div class="img-area">
						<a title="$list.goodsname" target="_blank" href="${path}/goods/info/$list.id">
							<div data-ga-event="商品_右上角领券:点击:品类页" class="lq">
								<div class="lq-t">
									<p class="lq-t-d1">领优惠券</p>
									<p class="lq-t-d2">省<span>$list.couponprice</span>元</p>
								</div>
								<div class="lq-b"></div>
							</div>
							<div class="bottom-info">
								<p data-endtime="$list.endtime" class="time-count"></p>
							</div>
							<img data-ga-event="商品_图片:点击:品类页" class="lazy" data-original="${viewgoodspath}/$list.goodsimage" alt="$list.goodsname">
						</a>
					</div>
					<p class="title-area elli"><span class="post-free">包邮</span>$list.goodsname</p>
					<div class="raw-price-area">现价：&yen;$list.currentprice<p class="sold">已领 $list.tocouponnum 张券</p></div>
					<div class="info">
						<div class="price-area">
							<span class="price">&yen;<em class="number-font">$NumericTool.format("#0",$list.couponafterprice)</em><em class="decimal">.$NumericTool.getTheDecimal($list.couponafterprice)</em><i></i></span>
						</div>
						<div class="buy-area">
							<a data-ga-event="商品_立即领券:点击:品类页" rel="nofollow" target="_blank" href="$list.tocouponsurl">
								<span class="coupon-amount">去#dictk2vtag('dic_goods_source',$!{list.goodssource})</span>
								<span class="btn-title">火速领券</span>
							</a>
						</div>
						<div class="platform-area"><img src="${path}/skins/template/img/#if($list.goodssource==1)platform_taobao.png#elseif($list.goodssource==2)platform_tmall.png#end">#dictk2vtag('dic_goods_source',$!{list.goodssource})</div>
					</div>
				</div>
			#end
		</div>
	</div>
</div>
<script type="text/javascript" src="${path}/plug/jquery/swiper3.1.0.min.js"></script>
<script type="text/javascript">
	var sw = new Swiper('.swiper-container',{
        autoplay: 3000,
        loop:false
    });
</script>
