#set($layout="layout/default-manager.vm")
<!--根据菜单搜索商品结果页面-->
<script type="text/javascript">
	var ajaxgoodslisturl = '${path}/goods/findClassGoodsListJson';
</script>
<div class="wrapper collection-wrapper" style="padding-top:20px">
	#parse("page/layout_goods_record.vm")
</div>
<script type="text/javascript">
$(function(){
    Util.sideFixedMenu($('.collection-wrapper'));
});
</script>