#set($layout="layout/default-manager.vm")
<script type="text/javascript">
	var globalChannel = '';
	var ajaxgoodslisturl = '${path}/goods/findHomeGoodsListJson';
</script>
<div class="wrapper home-oper-area">
	<div class="cate-area">
			#foreach ($list in $goodsclasslist)
				<a data-ga-event="首页:点击:首页_分类_$list.classname" href="${path}/goods/list/$list.id" class="cate-item #if($velocityCount%2==1) with-line #end">
					<div class="inner"><i class="cate-icon $list.classicon"></i>$list.classname</div>
				</a>
			#end
	</div>
	<div class="banner-area swiper-container">
		<div class="swiper-wrapper">
			<script src='${viewadvpath}/layout_adv_27.js'></script>
		</div>
		<div class="swiper-bottom">
			<div class="swiper-pager"></div>
		</div>
	</div>
	<div class="small-banner-area">
		<script src='${viewadvpath}/layout_adv_29.js'></script>
	</div>
</div>
<div class="wrapper home-wrapper">
	#parse("page/layout_goods_record.vm")
</div>

<script type="text/javascript" src="${path}/plug/jquery/swiper3.1.0.min.js"></script>
<script type="text/javascript">
	$(function(){
	    var sw = new Swiper('.banner-area',{
	        autoplay: 3000,
	        loop:true,
	        pagination: '.swiper-pager'
	    });
	});
	Util.sideFixedMenu($('.home-wrapper'));
</script>