#parse("manager/page_header.vm")
<style>
    html,body{
    	overflow:auto;
        height: 100%;
        background-color:#fff;
    }
</style>
<input type="hidden" class="form-control" id="type" name="type" value="$!{type}">
<input type="hidden" class="form-control" id="empids" name="empids" value="$!{empids}">
<ul id="emptree" class="ztree reset-box-sizing J_containerWarp2" ></ul>

<script type="text/javascript">

$(document).ready(function(){
	initSelectTree();
});
function initSelectTree(){
	var check = {}
	if($("#type").val()*1==1){
		check = {
			enable: true,
			chkboxType: { "Y": "ps", "N": "ps" }
		}
	}else{
		check = {
			enable: true,
			radioType: "all",
			chkStyle: "radio",
			chkboxType: { "Y": "ps", "N": "ps" }
		}
	}
	var setting = {
        view: {
            selectedMulti: false
        },
		check: check,
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
        	beforeClick: function(treeId, treeNode){
				
			},
			onCheck: function(event, treeId, treeNode){
				
			}
    	}
    };
	var url = basePath+"/emp/getEmpTree?empids="+$("#empids").val()+"&type="+$("#type").val();
    $.ajax({
        type:"POST",
        url: url,
        success:function(data){
            $.fn.zTree.init($("#emptree"), setting, $.parseJSON(data).message);
            var treeObj = $.fn.zTree.getZTreeObj("emptree");
			treeObj.expandAll(true);
        }
    });
}
function getData(callback){
	var treeObj = $.fn.zTree.getZTreeObj('emptree');
	var nodes = treeObj.getCheckedNodes(true);
	var idarr = [];
	var namearr = [];
	for(var i=0; i<nodes.length; i++) {
		var node = nodes[i];
		if(node.id!=0){
			idarr.push(node.id);
			namearr.push(node.name);
		}
	}
	var data={
	    idarr:idarr,
	    namearr:namearr
	};
	callback(data);
}
</script>