<!DOCTYPE HTML>
<html xmlns=http://www.w3.org/1999/xhtml>
	
	<head>
	 	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!-- jquery基础包 -->
		<script type="text/javascript" src="${path}/plug/jquery/jquery.min.js"></script> 
		
		<script type="text/javascript" src="${path}/plug/layui/layui.js"></script> 
		
		<script type="text/javascript" src="${path}/javascript/utils.js"></script> 
		
		<script type="text/javascript" src="${path}/javascript/common.js"></script> 
		
		<link rel="stylesheet" type="text/css" href="${path}/plug/layui/css/layui.css" media="all">
		
		<link rel="stylesheet" type="text/css" href="${path}/skins/template/css/global.css" media="all">
		
		<link rel="stylesheet" type="text/css" href="${path}/skins/template/css/style.css" media="all">
	</head>

	<body>
		$screen_content
	</body>

</html>