@media screen and (max-width: 641px) {
    .zk-item,.zk-list {
        position:relative
    }

    .header {
        height: 40px
    }

    .header .header-top,.header .tab-area .search-area {
        display: none
    }

    .header .tab-area .cate-area {
        width: 100%;
        height: 40px;
        overflow: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap
    }

    .header .tab-area .cate-area .cate-item {
        float: none;
        display: inline-block
    }

    .wrapper,.wrapper-l {
        width: 100%
    }

    .wrapper-r {
        display: none
    }

    .zk-list {
        margin-right: 0
    }

    .zk-item {
        width: 47%;
        margin: 0 0 20px 2%
    }

    .zk-item .img-area {
        height: 176px
    }

    .zk-item .img-area a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden
    }

    .zk-item .img-area a img {
        max-width: 100%;
        display: inline-block
    }

    .footer,.zk-item .info .buy-area,.zk-item .title-area .sold {
        display: none
    }

    .zk-item .title-area {
        margin: 0 10px
    }

    .zk-item .title-area .title {
        width: 100%;
        padding-left: 0
    }

    .zk-main .bread-area {
        padding: 15px;
        line-height: 24px
    }

    .zk-content {
        width: auto;
        height: auto
    }

    .zk-content .img-area {
        float: none;
        width: auto;
        height: auto
    }

    .zk-content .info-area {
        float: none;
        width: auto;
        padding-left: 0
    }

    .zk-content .info-area .title {
        height: auto;
        padding-top: 10px
    }

    .zk-content .info-area .buy-area {
        height: auto
    }

    .rel-zk-area .rel-zk-list {
        position: relative;
        margin-right: 0
    }

    .zk-content .info-area .buy-area .btn {
        float: none;
        width: 100%
    }

    .zk-content .info-area .buy-area .btn-title {
        float: none;
        text-align: center
    }

    .zk-content .info-area .tags .tag-item {
        margin-top: 10px
    }

    .search-res-title {
        padding-left: 15px
    }
}
