#parse("manager/contactRecord/add_edit_inner.vm")
<script>
$(function () {
	$("input[name='isvisit']").eq(0).parent(".radio-inline").addClass('on');
	$("input[name='isvisit']").eq(0).attr("checked",true);
});
</script>