#parse("manager/page_header.vm")
<script type="text/javascript" src="${path}/javascript/selectTree.js?date=2017040600003"></script>
<style>
    html,body{
        overflow-y: hidden;
        height: 100%;
        background-color:#fff;
    }
</style>
<div class="J_conWarp g-lr-mg g-warning-box">
	<div class="J_containerWarp">
		<div  class="container-fluid g-t-mg2">
			<div class="row" >
				<div class="col-xs-12" >
					<form class="form-horizontal" role="form" id="formid">
						<input type="hidden" name="id" value="$!{goodsClass.id}"/>
						<div class="form-group">
							<label for="name" class="col-xs-2 control-label"><em class="text-red">*</em>商品分类名称</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" id="className" name="classname" value="$!{goodsClass.classname}" maxlength="100">
							</div>
						</div>
						<div class="form-group">
						    <label for="pid" class="col-xs-2 control-label"><em class="text-red">*</em>上级分类</label>
						    <div class="col-xs-9">
							      <select class="form-control" name="pid" id="pid">
							        <option value="0">一级分类</option>
							        #foreach ($list in $goodsclasslist)
							        	#if($goodsClass.id!=$list.id)
							        		#if($pid)
							        			<option value="$list.id" #if ($list.id==$pid) selected #end parent="$list.pid">$list.classname</option>
							        		#else
							        			<option value="$list.id" #if ($list.id==$goodsClass.pid) selected #end parent="$list.pid">$list.classname</option>
							        		#end
								    	#end
							        #end
							      </select>
							      <p class="help-block">所属的上级栏目</p>
						    </div>
						</div>
						<div class="form-group">
							<label for="icon" class="col-xs-2 control-label"><em class="text-red">*</em>图标</label>
							<div class="col-xs-9">
								<input type="text" class="form-control" id="classicon" name="classicon" value="$!{goodsClass.classicon}" maxlength="50">
							</div>
						</div>
						<div class="form-group">
							<label for="sort" class="col-xs-2 control-label"><em class="text-red">*</em>顺序</label>
							<div class="col-xs-9">
								<input type="number" class="form-control" id="classsort" name="classsort" value="$!{goodsClass.classsort}" maxlength="10">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-2 control-label check-label"><em class="text-red">*</em>是否热门</label>
							<div class="col-xs-9">
								<div class="J_radioBox ">
									<label class="radio-inline">
									  <input type="radio" name="ishot" value="1"> 是
									</label>
									<label class="radio-inline">
									  <input type="radio" name="ishot" value="2"> 否
									</label>
							    </div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-2 control-label check-label"><em class="text-red">*</em>是否推荐</label>
							<div class="col-xs-9">
								<div class="J_radioBox ">
									<label class="radio-inline">
									  <input type="radio" name="isrecommend" value="1"> 是
									</label>
									<label class="radio-inline">
									  <input type="radio" name="isrecommend" value="2"> 否
									</label>
							    </div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	<div>
</div>
<script>
$(function() {
	$("#pid").selectTotree();
	$("input[name='ishot']").click(function(){
	 	$(this).closest("label").siblings("label").removeClass("on");
	 	if($(this).is(':checked')){
	 		$(this).closest("label").addClass("on");
	 	}
	});
	$("input[name='isrecommend']").click(function(){
	 	$(this).closest("label").siblings("label").removeClass("on");
	 	if($(this).is(':checked')){
	 		$(this).closest("label").addClass("on");
	 	}
	});
});

</script>