#parse("manager/page_header.vm")
<style>
    html,body{
        overflow-y: hidden;
        height: 100%;
    }
</style>

<div class="container-fluid">
    <div class="row" >
    
    	<div class="col-xs-2" >
            <div id="treediv" class="J_conWarp g-area-loading">
                <h4 class="g-title">商品分类</h4>
                <div class="g-total-pd">
                	<!--<div id="areTreeDiv" class="input-group g-search-box2">
					 	<span class="input-group-addon" id="searchTerm" onclick="searchGoodsclass()"></span>
					 	<input type="text" class="form-control" id="classname" name="classname" placeholder="搜索">
					</div>-->
                    <ul id="treeid" class="ztree reset-box-sizing"></ul>
               </div>
            </div>
        </div>
    	
    	<div class="col-xs-10">
            <div class="J_conWarp g-warning-box">

            	<ul class="nav nav-tabs g-nav-tab1" role="tablist" id="myTab">
					<li role="presentation" id="goodsli" class="active"><a href="#goodspanel" role="tab" data-toggle="tab">正常出售商品</a></li>
					<li role="presentation" id="expiregoodsli" ><a href="#expiregoodspanel" role="tab" data-toggle="tab">到期商品</a></li>
				</ul>
				
            	<div class="tab-content">
            		<div role="tabpanel" class="tab-pane" id="goodspanel">
		            	#parse("manager/goods/goodspanel.vm")
		            </div>
		            
		            <div role="tabpanel" class="tab-pane" id="expiregoodspanel">
		            	#parse("manager/goods/expiregoodspanel.vm")
		            </div>
            	</div><!-- end -->
            	
            </div>
         </div>
	</div>
</div>
<script src="${path}/plug/respond.src.js"></script>
<script type="text/javascript" src="${path}/javascript/goods.js?date=201704060008"></script>